html,
body {
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 20px;
  gap: 11px;
  height: 80px;
  box-shadow: 0px 1px 3px 0px rgb(0, 0, 0);
}

nav>img {
  width: 55px;
  margin-right: 7px;

}

nav>span {
  font-size: 50px;
  font-weight: 800;
  margin-left: 5px;
}

.add-ingredient-form {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #D1D5Db;
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.button {
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
  color: white;
  margin-left: 5px;
  padding: 5px;
  flex-grow: 1;
  min-width: 120px;
  max-width: 140px;
  border-radius: 5px;
  border: 1px solid grey;
}

.ingredient {
  background-color: red;
  height: 40px;
  max-width: 400px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {

  display: flex;
  justify-content: center;
  align-items: center;

}

.count {
  background-color: green;
  padding: 40px;
  border-radius: 100px;
}


button {
  margin-top: 50px;
}

.plus {
  margin-right: 10px;
  border-radius: 100px;
}

.minus {
  margin-left: 20px;
  border-radius: 100px;
}

.card {
  background-color: #D1D5Db;
}