html,
body {
  margin: 0;
}

header {
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 55px;
}

nav>img {
  width: 24px;
  margin-right: 7px;

}

nav>span {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: Inter;
}

.journal-entry {
  display: flex;
  padding: 30px;
}

.main-content {
  padding-left: 16px;
}

.main-content>span,
a {
  padding-left: 4px;
}


.main-img-container {
  width: 125px;
  height: 168px;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
}

.main-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}